---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Audience from "../components/Audience.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Privacy from "../components/Privacy.astro";
import OpenSource from "../components/OpenSource.astro";
import Download from "../components/Download.astro";
import NoSpooks from "../components/NoSpooks.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Audience />
    <Features />
    <HowItWorks />
    <Privacy />
    <OpenSource />
    <Download />
    <NoSpooks />
  </main>
  <Footer />
</Base>
